<div class="center hero-unit">
  <h1><%= link_to "i:depot", root_path %></h1>
  
</div>

<div class="center container">


  <div class="first Box">

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary signup" %>

    <!-- SLIDER -->

    <div class ="slidewrapper">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

    <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag("slide1.png", alt: "Rails") %>
            <div class="carousel-caption">
            </div>
          </div>
          <div class="item">
            <%= image_tag("slide1.png", alt: "Rails" ) %>
            <div class="carousel-caption">
              
            </div>
          </div>
          
        </div>

    <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
 <!-- SLIDER END-->

    
  </div>
  
  <div class="second Box">

    <div class="row">
      <div class="col-md-4">
        <%= icon('desktop', '', class:'fa-5x') %>
        <h4>Behalten Sie den Überblick</h4>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l</p>
      </div>
      <div class="col-md-4">
        <%= icon('paper-plane', '', class:'fa-5x') %>
        <h4>Behalten Sie den Überblick</h4>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l</p></div>
      <div class="col-md-4">
        <%= icon('dropbox', '', class:'fa-5x') %>
        <h4>Behalten Sie den Überblick</h4>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l</p></div>
    </div>

  </div>

  <div class="third Box">

    <h2>Klar und Einfach</h2>
    <h3>Lorem ipsum dolor sit amet, consetetur</h3>

    <div class="row">
      <div class="col-md-3">
        <div class="priceBox">a</div>
        <div class="priceBox">b</div>
        <div class="priceBox">c</div>
        <div class="priceBox">d</div>

      </div>
      <div class="col-md-3">
        <div class="priceBox">a</div>
        <div class="priceBox">b</div>
        <div class="priceBox">c</div>
        <div class="priceBox">d</div>
      </div>
      <div class="col-md-3">
        <div class="priceBox">a</div>
        <div class="priceBox">b</div>
        <div class="priceBox">c</div>
        <div class="priceBox">d</div>
      </div>
      <div class="col-md-3">
        <div class="priceBox">a</div>
        <div class="priceBox">b</div>
        <div class="priceBox">c</div>
        <div class="priceBox">d</div>
      </div>
    </div>

  </div> 

  <div class="fourth Box">

    <h2>Why i:depot?</h2>

    <h3>Lorem ipsum dolor sit amet, consetetur</h3>

    <div class="row">
      <div class="col-md-4">
        <div class="infoIcon">
          <%= icon('heart', '', class:'fa-2x') %>
        </div>
        <div class="infoBox">
          <h4>Behalten Sie den Überblick</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l</p>
        </div>

        <div class="infoIcon">
          <%= icon('heart', '', class:'fa-2x') %>
        </div>
        <div class="infoBox">
          <h4>Behalten Sie den Überblick</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l</p>
        </div>
        

      </div>
      <div class="col-md-4">
        <div class="infoIcon">
          <%= icon('heart', '', class:'fa-2x') %>
        </div>
        <div class="infoBox">
          <h4>Behalten Sie den Überblick</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l</p>
        </div>

        <div class="infoIcon">
          <%= icon('heart', '', class:'fa-2x') %>
        </div>
        <div class="infoBox">
          <h4>Behalten Sie den Überblick</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l</p>
        </div>

      </div>
      <div class="col-md-4">
        <div class="infoIcon">
          <%= icon('heart', '', class:'fa-2x') %>
        </div>
        <div class="infoBox">
          <h4>Behalten Sie den Überblick</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l</p>
        </div>

        <div class="infoIcon">
          <%= icon('heart', '', class:'fa-2x') %>
        </div>
        <div class="infoBox">
          <h4>Behalten Sie den Überblick</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l</p>
        </div>
        
      </div>
      
    </div>

  </div>

  <div class="fifth Box">

    Not convinced yet?

    Form

  </div>

  <div class="sixth Box">

    <div class="row">
      <div class="col-md-6">
        <div class="infoIcon">
          <%= icon('key', '', class:'fa-5x') %>
        </div>
        <div class="infoBox">
          <h4>Behalten Sie den Überblick</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="infoIcon">
          <%= icon('shield', '', class:'fa-5x') %>
        </div>
        <div class="infoBox">
          <h4>Behalten Sie den Überblick</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l</p>
        </div>
      </div>
      
    </div>


  </div>     


</div>
