<% provide(:title, @user.name ) %>
<p id="notice"><%= notice %></p>

<div class="row">
	<aside class="span4">
		<section>
		<h1> 
			<%= gravatar_for @user %>

			<%= @user.name %>


		</h1>
		</section>

		<div>
			<strong>Email:</strong>
			<%= @user.email %>
		</div>

		<div>
			<%= image_tag(@user.image_url, :width => 300 ) if @user.image.present? %>
		</div>	

		<%= link_to 'Edit', edit_user_path(@user) %> |
		<%= link_to 'Back', users_path %>

	</aside>

</div> 

