<% provide(:title, @user.name ) %>
<p id="notice"><%= notice %></p>

<div class="row">
	<aside class="span4">
		<section>
		<h1> 
			
				
			<%= image_tag(@user.image_url, :width => 200, class: "img-circle" ) if @user.image.present? %>
			<%= @user.name %>
			<% gravatar_for @user %>

			


		</h1>
		</section>

		<div>
			<strong>Email:</strong>
			<%= @user.email %>
		</div>

		

		<%= link_to 'Edit', edit_user_path(@user) %> |
		<%= link_to 'Back', users_path %>

	</aside>

</div> 

