<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artobject.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @artobject.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @artobject.picture %>
</p>

<p>
  <strong>User:</strong>
  <%= @artobject.user_id %>
</p>

<%= link_to 'Edit', edit_artobject_path(@artobject) %> |
<%= link_to 'Back', artobjects_path %>
